<html>

<head>
    <meta charset="UTF-8">
    <title>裝備查詢頁面</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script>
        var dict = {
            'quest': "{{url_for('htmlQuery', category='quest')}}", 
            'gear': "{{url_for('htmlQuery', category='gear')}}", 
            'NPC': "{{url_for('htmlQuery', category='NPC')}}", 
            'monster':"{{url_for('htmlQuery', category='monster')}}"
        }
        function getURL(name){
            return dict[name]
        }
    </script>
    <link rel="icon" href="{{ url_for('static', path='/img/maple.png') }}">
    <!--<link rel="stylesheet" href="../General Style.css">-->
</head>

<body>
    <a href="{{ url_for('main') }}"><img src="{{ url_for('static', path='/img/little logo.png') }}"></a>

    <div class="main_function">
        <input type="button" onclick="location.href=getURL('quest');" value="任務查詢">
        <input type="button" onclick="location.href=getURL('gear');" value="裝備查詢">
        <input type="button" onclick="location.href=getURL('NPC');" value="NPC查詢">
        <input type="button" onclick="location.href=getURL('monster');" value="怪物查詢">
    </div>

    <div id="gear_search_part">
        <select id="search_by_what">
            <option value="">請選擇查詢方式</option>
            <option value="裝備名稱_name">以裝備名稱查詢</option>
            <option value="NPC名稱_name">以獲得NPC查詢</option>
            <option value="怪物名稱_name">以掉落怪物查詢</option>
            <option value="裝備.攻擊力_num">以攻擊力查詢</option>
            <option value="玩家需求等級_num">以玩家需求等級查詢</option>
        </select>

        <p id="max_input">最小值 : <input type="number" id="num_min"></p>
        <p id="min_input">最大值 : <input type="number" id="num_max"></p>
        <input type="text" id="text_input">
        <input type="submit" value="送出" id="submit">

        <p id="error_message"></p>
    </div>

    <table id="data_part" style="border:3px #cccccc solid;" cellpadding="10" border='1'>
        <thead>
            <tr>
                <th>裝備名稱</th>
                <th>來源種類(NPC/怪物掉落)</th>
                <th>來源對象</th>
                <th>來源對象所在地</th>
                <th>攻擊力</th>
                <th>玩家需求等級</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</body>

<script>
    $("#max_input, #min_input, #text_input, #submit").hide();
    $("#error_message").hide();

    $("#search_by_what").change(function() {
        $("#max_input, #min_input, #text_input, #submit").hide();

        let drop_down_list = $("#search_by_what").val();
        if(drop_down_list == "裝備.攻擊力_num" || drop_down_list == "玩家需求等級_num") {
            $("#max_input, #min_input").delay(200).fadeIn(200);
        } else if(drop_down_list == "裝備名稱_name") {
            $("#text_input").val("").attr('placeholder', "請輸入裝備名稱").delay(200).fadeIn(200);
        } else if(drop_down_list == "NPC名稱_name") {
            $("#text_input").val("").attr('placeholder', "請輸入NPC名稱").delay(200).fadeIn(200);
        } else if(drop_down_list == "怪物名稱_name") {
            $("#text_input").val("").attr('placeholder', "請輸入怪物名稱").delay(200).fadeIn(200);
        }

        if(drop_down_list != "") {
            $("#submit").delay(200).fadeIn(200);
        }

        $("#error_message").hide();
    });

    $("#submit").click(function() {
        $("#error_message").hide();
        let drop_down_list = $("#search_by_what").val();
        if(drop_down_list == "裝備.攻擊力_num" || drop_down_list == "玩家需求等級_num") {
            let min = parseInt($("#num_min").val());
            let max = parseInt($("#num_max").val());
            
            if (min <= 0 || max <= 0) {
                $("#error_message").html("輸入錯誤 - 最大值與最小值必須大於0");
                $("#error_message").delay(200).fadeIn(200);
                return
            } else if(min > max) {
                $("#error_message").html("輸入錯誤 - 最大值必須大於/等於最小值");
                $("#error_message").delay(200).fadeIn(200);
                return
            } else {
                $("#error_message").html("輸入正確 - 正在取得資料");
                $("#error_message").delay(200).fadeIn(200);
            }
//vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv
	    $.ajax({
                url: "/data/search_by_" + drop_down_list.split('_')[1],
                type: "POST",
                headers:{
                    'Access-Control-Allow-Origin':'*',
                    'Content-Type':'application/json'
                },
                data: JSON.stringify({ category:'NPC', objects: drop_down_list.split('_')[0] ,name: input}),  // 將 input 值作為資料傳遞給後端
                success: function(data) {
                    console.log(data)
                    console.log(typeof(data))
                    if(data['status'] == -1){
                        alert(data['details'])
                    }
                    else{
                        $('tbody').html(data['details'])
                    }
                },
                error: function(error) {
                    console.error("錯誤:", error);
                }
            });
//^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
            
            console.log(min);
            console.log(max);
        } else {
            let input = $("#text_input").val();
            if(input.length === 0) {
                $("#error_message").html("輸入錯誤 - 不能為空");
                $("#error_message").delay(200).fadeIn(200);
                return
            } else if(parseInt(input[0]) >= 0 && parseInt(input[0]) <= 9){
                $("#error_message").html("輸入錯誤 - 開頭不能為數字");
                $("#error_message").delay(200).fadeIn(200);
                return
            } else {
                $("#error_message").html("輸入正確 - 正在取得資料");
                $("#error_message").delay(200).fadeIn(200);
            }
            
//vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv
	    $.ajax({
                url: "/data/search_by_" + drop_down_list.split('_')[1],
                type: "POST",
                headers:{
                    'Access-Control-Allow-Origin':'*',
                    'Content-Type':'application/json'
                },
                data: JSON.stringify({ category:'NPC', objects: drop_down_list.split('_')[0] ,name: input}),  // 將 input 值作為資料傳遞給後端
                success: function(data) {
                    console.log(data)
                    console.log(typeof(data))
                    if(data['status'] == -1){
                        alert(data['details'])
                    }
                    else{
                        $('tbody').html(data['details'])
                    }
                },
                error: function(error) {
                    console.error("錯誤:", error);
                }
            });
//^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
            
        }
    });
</script>

</html>
