<html>

<head>
    <meta charset="UTF-8">
    <title>新楓之谷資料庫</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script>
        var dict = {
            'quest': "{{url_for('htmlQuery', category='quest')}}", 
            'gear': "{{url_for('htmlQuery', category='gear')}}", 
            'NPC': "{{url_for('htmlQuery', category='NPC')}}", 
            'monster':"{{url_for('htmlQuery', category='monster')}}"
        }
        function getURL(name){
            return dict[name]
        }
    </script>
    <!--<link rel="stylesheet" href="../General Style.css">-->
</head>

<body>
    <a href="{{ url_for('main') }}"><img src="{{ url_for('static', path='/img/Maple Story.jpg') }}"></a>

    <div class="main_function">
        <input type="button" onclick="location.href=getURL('quest');" value="任務查詢">
        <input type="button" onclick="location.href=getURL('gear');" value="裝備查詢">
        <input type="button" onclick="location.href=getURL('NPC');" value="NPC查詢">
        <input type="button" onclick="location.href=getURL('monster');" value="怪物查詢">
    </div>
</body>

</html>