<html>

<head>
    <meta charset="UTF-8">
    <title>NPC查詢頁面</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script>
        var dict = {
            'quest': "{{url_for('htmlQuery', category='quest')}}", 
            'gear': "{{url_for('htmlQuery', category='gear')}}", 
            'NPC': "{{url_for('htmlQuery', category='NPC')}}", 
            'monster':"{{url_for('htmlQuery', category='monster')}}"
        }
        function getURL(name){
            return dict[name]
        }
    </script>
    <!--<link rel="stylesheet" href="../General Style.css">-->
</head>

<body>
    <a href="{{ url_for('main') }}"><img src="{{ url_for('static', path='/img/little logo.png') }}"></a>

    <div class="main_function">
        <input type="button" onclick="location.href=getURL('quest');" value="任務查詢">
        <input type="button" onclick="location.href=getURL('gear');" value="裝備查詢">
        <input type="button" onclick="location.href=getURL('NPC');" value="NPC查詢">
        <input type="button" onclick="location.href=getURL('monster');" value="怪物查詢">
    </div>

    <div id="gear_search_part">
        <select id="search_by_what">
            <option value="">請選擇查詢方式</option>
            <option value="search_by_name">以NPC名查詢</option>
            <option value="search_by_place">以所在地點查詢</option>
            <option value="search_by_gear">以取得裝備查詢</option>
        </select>

        <input type="text" id="text_input">
        <input type="submit" value="送出" id="submit">

        <p id="error_message"></p>
    </div>

    <table id="data_part" style="border:3px #cccccc solid;" cellpadding="10" border='1'>
        <thead>
            <tr>
                <th>NPC名</th>
                <th>所在地圖</th>
                <th>取得裝備</th>
            </tr>
        </thead>
    </table>
</body>

<script>
    $("#text_input, #submit").hide();
    $("#error_message").hide();

    $("#search_by_what").change(function() {
        $("#text_input, #submit").hide();

        let drop_down_list = $("#search_by_what").val();
        if(drop_down_list == "search_by_name") {
            $("#text_input").val("").attr('placeholder', "請輸入NPC名").delay(200).fadeIn(200);
        } else if(drop_down_list == "search_by_place") {
            $("#text_input").val("").attr('placeholder', "請輸入地圖名稱").delay(200).fadeIn(200);
        } else if(drop_down_list == "search_by_gear") {
            $("#text_input").val("").attr('placeholder', "請輸入裝備名稱").delay(200).fadeIn(200);
        }

        if(drop_down_list != "") {
            $("#submit").delay(200).fadeIn(200);
        }

        $("#error_message").hide();
    });

    $("#submit").click(function() {
        $("#error_message").hide();

        let input = $("#text_input").val();
        if(input.length == 0) {
            $("#error_message").html("輸入錯誤 - 不能為空");
        } else if(parseInt(input[0]) >= 0 && parseInt(input[0]) <= 9){
            $("#error_message").html("輸入錯誤 - 開頭不能為數字");
        } else {
            $("#error_message").html("輸入正確 - 正在取得資料");
        }
//vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv
	    $.ajax({
                url: "/data/" + drop_down_list,
                type: "POST",
		headers:{
			'Access-Control-Allow-Origin':'*',
			'Content-Type':'application/json'
		},
                data: JSON.stringify({input: input}),  // 將 input 值作為資料傳遞給後端
                success: function(data) {
                    // 在前端處理後端返回的數據
                    console.log(data);
                },
                error: function(error) {
                    console.error("錯誤:", error);
                }
            });
//^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
        $("#error_message").delay(200).fadeIn(200);
        console.log(input);
    });
</script>

</html>
